{% extends "auth/base.html" %}
{% block title %}Set a new password{% endblock %}
{% block heading %}Set a new password{% endblock %}
{% block description %}<p>Choose a password with at least 12 characters.</p>{% endblock %}
{% block content %}
  <form method="post" class="auth-form">
    {{ form.hidden_tag() }}
    {% with field=form.password, kwargs={'autocomplete': 'new-password'} %}{% include "auth/_field.html" %}{% endwith %}
    {% with field=form.password_confirm, kwargs={'autocomplete': 'new-password'} %}{% include "auth/_field.html" %}{% endwith %}
    {{ form.submit(class_="auth-primary") }}
  </form>
{% endblock %}
